
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;  
    background-image: url("images/top-banner2.png");       
    background-size: cover;
    background-attachment: fixed; 
}

.top_banner{
    width: 100%;
}

.top_banner h1{    
    font-size: 60px;
    font-weight: 700;
    color:blue;
    text-align: center;
    
    
}
h1{
    font-size: 40px;
    font-weight: 700;
    color:blue;
}
h2{
    font-size: 30px;
    color:fuchsia;
    font-weight: 700;
}
p{
    color: dimgrey;
}
.half_width{
    width: 45%;
    float: left;
    margin-left: 20px;
}
.half_width img{
width: 60%;
}
.working{
    width: 100%;
}
.working h1{
    text-align: center;
    display: inline-block;
    margin-left: 2%;
    
}
.qurter_width{
    width: 30%;
    float: left;
    margin-left: 40px;
}
footer{
    text-align: center;
    background-color: blue;
    color: white;
}